#  Data Management 

This file is used to merge the given two tables and also to generate, Pandas Profiling report everytime needed.

### Joining the 2 Tables Applicant and Loan

There are 2 tables given, Applicant and Loan which are separated logically by the data they consists.

But for EDA and Better understanding of the model we will be joining the 2 tables based upon the relationships in them.

In the Applicant Table we can see the first column as applicant_id which is the <b>Primary key </b> of it.

Moreover, in the Loan Table we can see the Second column as applicant_id which is the <b>Foreign Key </b> of it.

Based upon this common column we will be joining the 2 datasets.

In [2]:
import pandas as pd

#importing the datasets
applicants = pd.read_csv('data/applicant.csv')
loans = pd.read_csv('data/loan.csv')

In [3]:
print(applicants.shape)
loans.shape

(1000, 15)

(1000, 13)

Hence, the Final merged dataset will have the dimensions 

rows = 1000
cols = 15+13-1 = 27

In [4]:
data = pd.merge(applicants,loans , how="inner", on="applicant_id")

data.shape

(1000, 27)

In [5]:
data

,applicant_id,Primary_applicant_age_in_years,Gender,Marital_status,Number_of_dependents,Housing,Years_at_current_residence,Employment_status,Has_been_employed_for_at_least,Has_been_employed_for_at_most,...,Purpose,Principal_loan_amount,EMI_rate_in_percentage_of_disposable_income,Property,Has_coapplicant,Has_guarantor,Other_EMI_plans,Number_of_existing_loans_at_this_bank,Loan_history,high_risk_applicant
0,1469590,67,male,single,1,own,4,skilled employee / official,7 years,NaN,...,electronic equipment,1169000,4,real estate,0,0,NaN,2,critical/pending loans at other banks,0
1,1203873,22,female,divorced/separated/married,1,own,2,skilled employee / official,1 year,4 years,...,electronic equipment,5951000,2,real estate,0,0,NaN,1,existing loans paid back duly till now,1
2,1432761,49,male,single,2,own,3,unskilled - resident,4 years,7 years,...,education,2096000,2,real estate,0,0,NaN,1,critical/pending loans at other banks,0
3,1207582,45,male,single,2,for free,4,skilled employee / official,4 years,7 years,...,FF&E,7882000,2,building society savings agreement/life insurance,0,1,NaN,1,existing loans paid back duly till now,0
4,1674436,53,male,single,2,for free,4,skilled employee / official,1 year,4 years,...,new vehicle,4870000,3,NaN,0,0,NaN,2,delay in paying off loans in the past,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1880194,31,female,divorced/separated/married,1,own,4,unskilled - resident,4 years,7 years,...,FF&E,1736000,3,real estate,0,0,NaN,1,existing loans paid back duly till now,0
996,1114064,40,male,divorced/separated,1,own,4,management / self-employed / highly qualified ...,1 year,4 years,...,used vehicle,3857000,4,building society savings agreement/life insurance,0,0,NaN,1,existing loans paid back duly till now,0
997,1758046,38,male,single,1,own,4,skilled employee / official,7 years,NaN,...,electronic equipment,804000,4,car or other,0,0,NaN,1,existing loans paid back duly till now,0
998,1824545,23,male,single,1,for free,4,skilled employee / official,1 year,4 years,...,electronic equipment,1845000,4,NaN,0,0,NaN,1,existing loans paid back duly till now,1
999,1660770,27,male,single,1,own,4,skilled employee / official,NaN,0 year,...,used vehicle,4576000,3,car or other,0,0,NaN,1,critical/pending loans at other banks,0

### Generating the pandas profiling report.

This report provides basic EDA and an overview of the dataset.

The following important data such as 

<li>Missing Data</li>
<li>Types of Variables</li>
<li>Classes in Ordinal variables</li>
<li>Range of Numeric Variables</li>
<li>Correlations and Sample Data Visualizations</li>

In [6]:
from pandas_profiling import profile_report
profile = profile_report.ProfileReport(data)
profile.to_file(output_file = f"Reports/data_merged.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [7]:
# def get_report(file):
    
#     from pandas_profiling import profile_report

#     #Loading the dataset
#     df = pd.read_csv(file)
#     #Generate a report
#     profile = profile_report.ProfileReport(df) #minimal == true can be used to reduce the output data stream
#     file_name = (file.split('/')[-1]).split('.')[0]
#     profile.to_file(output_file = f"{file_name}.html")

## Some Inferences from the generated report

<ol>
<li>The Balance of the dataset is 7:3 which makes it critical to think weather it should be balanced or imbalanced. Since w e have adequate amount of records for the minority class I might consider it balanced and apply K-fold while splitting</li>

<li>There are some columns which have more than 60% percent of missing cells. We might need to eliminate them or they will add unnecessary bias incase we try imputing them</li>

<li>All sorts of Variables are present within the dataset and hence, we need to take special care while handling each variable</li>

<li>The Variable "Telephone" is constant (No Use)</li>

</ol>

In [8]:
# Saving the Merged Data
data.to_csv('data/data_merged.csv',index= False)

## Report of preprocessed data

In [9]:
def get_report(file):
    
    from pandas_profiling import profile_report

    #Loading the dataset
    df = pd.read_csv(file)
    #Generate a report
    profile = profile_report.ProfileReport(df) #minimal == true can be used to reduce the output data stream
    file_name = (file.split('/')[-1]).split('.')[0]
    profile.to_file(output_file = f"Reports/{file_name}.html")

get_report(r'data\Preprocessed\final.csv')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]